<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Trip Ideas</title>
    <link href="/static/screen.css" type="text/css" rel="stylesheet"></link>
    <link href="/static/style.css" type="text/css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="trip-items">
      {% for trip in trips.searchresult.trips.trip %}
      <div class="trip-item">
        {% for leg in trip.legs.leg %}
          <strong class="trip-item-iata" title="{{ leg.depart }}">{{ leg.orig }}</strong> - <strong class="trip-item-iata" title="{{ leg.arrive }}">{{ leg.dest }}</strong>
          (Stops:
          {% for segment in leg.segment %}
             <small class="trip-item-iata" title="{{ segment.dt }}">{{ segment.o }}</small> - <small class="trip-item-iata" title="{{ segment.at }}">{{ segment.d }}</small>
          {% endfor %}
          )
        {% endfor %}
        <a href="http://www.kayak.com{{ trip.price.url }}">{{trip.price.value}} {{trip.price.currency}}</a>
      </div>
      {% endfor %}
    </div>

    <div class="debug">
    <textarea cols="120" rows="10" style="display:block">
    {{ trips.searchresult.trips.trip }}
    </textarea>
    </div>
  </body>
</html>


